<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/controller.css">
    <script src="/js/controller.js" defer></script>
    <script>
        let query = <%- JSON.stringify(query) %>
    </script>
</head>
<body>
    <div class="content-wrapper">
        <button onclick="onGrossMarginPress()">Gross Margin</button>
    </div>
</body>
</html>